.btn {
  cursor: pointer;
  font-family: "Roboto Medium", sans-serif;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
.btn-normal {
  font-size: 12pt;
  color: #fafafa;
  background-color: #4caf50;
  padding: 13px 17px;
}
.btn-normal:hover {
  background-color: rgba(76,175,80,0.8);
}
.btn-medium {
  background-color: #2196f3;
  transition: background-color 0.3s;
  color: #fafafa;
  font-size: 14pt;
  padding: 15px 30px;
}
.btn-medium:hover {
  background-color: rgba(33,158,253,0.87);
}
.btn-long {
  font-size: 12pt;
  width: 100%;
  color: #fafafa;
  background-color: #2196f3;
  padding: 13px 17px;
}
.btn-long:hover {
  background-color: rgba(33,150,243,0.8);
}
