* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}
.center {
  text-align: center;
}
.success {
  color: #008000;
}
.budget {
  background-color: #905454;
}
.standart {
  background-color: #98b907;
}
.premium {
  background-color: #4b991b;
}
.fa {
  padding: 5px;
}
